.joinPage{
    background-color:#0D9B5F;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.joinContainer{
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.joinContainer > img{
    width: 15vmax;
}
.joinContainer > h1{
    color: #FFBB12;
    font-size: 3vmax;
    font-family: 'Bukhari Script';
    border-bottom: 3px solid white;
    font-weight: lighter;
    text-align: center;
    width: 30vmax;
    padding: 1vmax;
    box-sizing: border-box;
}

.loginBtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: 2px solid white;
    font-size: 1.5vmax;
    /* background-color: #a80000; */
    background-color:#134d35a3;
    color: white;
    font-family: "Roboto";
cursor: pointer;
transition: all 0.3s;
margin:1vmax;
}

.loginBtn:hover{
    /* background-color:#ca0000; */
background-color: #023520ba;
}
