.joinPage{
    background-color:rgb(1, 94, 94);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.joinContainer{
 /* border: 2px solid white; */
 /* height: 50%; */
 width: 50%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.joinContainer > img{
    width: 10vmax;
}
.joinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    font-family: "Roboto";
    border-bottom: 3px solid white;
    text-align: center;
    width: 35vmax;
    padding: 1vmax;
    box-sizing: border-box;

}
#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    font-size: 1.3vmax;
    font-weight: 600;
    margin: 2vmax;
    box-sizing: border-box;
    color: rgb(1, 61, 61);
    border:3px solid rgb(1, 61, 61);
}
#joinInput::placeholder{
    color: rgb(23, 187, 187);
}

#joinInput:focus,
#joinInput:active{
    outline: rgb(1, 61, 61);
}

.loginBtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: 2px solid white;
    font-size: 1.5vmax;
    background-color: rgb(9, 93, 93);
    color: white;
    font-family: "Roboto";
cursor: pointer;
transition: all 0.3s;
}
.loginBtn:hover{
    background-color: rgb(1, 61, 61);
}