.messageBox{
    padding: 1vmax;
    margin: 1vmax;
    border-radius: 0.5vmax;
    display: inline-block;
    clear: both;
    font-size: 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.right{
    float: right;
    background-color: #00caab;
    color: #000000;
    text-align: right;
    margin-right: 1vmax;
    margin-top: 1vmax;
}

.left{
    float: left;
    text-align: left;
    background-color: aquamarine;
    margin-top: 1vmax;
    margin-left: 1vmax;
}

.middle{
    background-color: #bbbbbb48;
    text-align: center;
    max-width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vmax;
    margin-bottom:1vmax;
    color: #000000;
    font-size: large;
    font-weight: 600;
}