body {
  margin-top: auto !important;
  margin: 0;
  background-color:#0d9b5f;
}
body::-webkit-scrollbar {
  width: 0vmax
}


footer{
  margin: auto;
  /* width: auto; */
  color: white;
  /* background-color: #00362e; */
  text-align: center;
  font: 600 2vmax "Roboto";
}

@media (max-width: 770px) {
  .joinPage {
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
    background-color:#0d9b5f !important;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none  ;
  }
  .joinContainer {
    margin-top: 14vw !important;
    width: 100% !important;
}

  .joinContainer > img {
    margin-top: 0vmax !important;

    width:  36vmax !important;
  }
  .joinContainer > h1 {
    font-size: 10vmax !important;
    width: auto !important;
    border-bottom: 1vw solid #001b17 !important;
    padding: 2vw !important;
  }
  .loginBtn {
    width: 65vw !important;
    padding: 4vw !important;
    margin-top:6vmax !important; 
    font-size: 5vw !important;
  }

  .chatContainer {
    background-color: white;
    height: 100vh!important;
    width: 100% !important;
  }
  .header {
    height: 12% !important;
  }
  .header > h2 {
    margin: 3.6vmax auto !important;
    font-size: 4vmax !important;
    width: 100%;
  }

  .header > img{
    /* margin-top:-1vmax; */
    width: 10vh !important;
    border-radius: 100%;
    margin: 2.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .header>img:hover{
    transform: scale(5);
  }
  .chatBox {
    height: 74% !important;
  }

  .InputBox {
    height: 14% !important;
    /* padding: 1vmax; */
  }
  #chatInput {
    padding: 4vw !important;
    font-size: 3vmax !important;
    width: 70% !important;
  }
  .messageBox {
    padding: 3vw !important;
    margin: 3vw !important;
    border-radius: 1.5vw !important;
    font-size: 3.7vw !important;
  }

  .middle{
    background-color: rgb(0, 187, 255);
    max-width: 70% !important;
    margin: 3vmax auto !important;
}

.sendbtn{
  width: 30% !important;
}

footer{
  margin-top: 1vmax;
  font: 600 3vmax "Roboto";
}
}
